In [3]:
import pandas as pd

In [5]:
df = pd.read_html("https://finance.yahoo.com/quote/TSLA/history?p=TSLA")[0]

In [6]:
df.head(3)

           Date    Open    High     Low  Close* Adj Close**    Volume
0  Jan 15, 2021  852.00  859.90  819.10  826.16      826.16  38647900
1  Jan 14, 2021  843.39  863.00  838.75  845.00      845.00  31266300
2  Jan 13, 2021  852.76  860.47  832.00  854.41      854.41  33312500

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         101 non-null    object
 1   Open         101 non-null    object
 2   High         101 non-null    object
 3   Low          101 non-null    object
 4   Close*       101 non-null    object
 5   Adj Close**  101 non-null    object
 6   Volume       101 non-null    object
dtypes: object(7)
memory usage: 5.6+ KB

In [9]:
df.describe()

                Date    Open    High     Low  Close* Adj Close**    Volume
count            101     101     101     101     101         101       101
unique           100     101     101     101     101         101       101
top     Aug 31, 2020  441.92  369.00  641.00  622.77      622.77  17357700
freq               2       1       1       1       1           1         1

In [22]:
df = df.head(50).sort_values(by='Date')

In [26]:
df = df.drop([0, 100])

KeyError: '[100] not found in axis'

In [27]:
df = df.astype({"Open":'float',
                "High":'float',
                "Low":'float',
                "Close*":'float',
                "Adj Close**":'float',
                "Volume":'float'})